In [9]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
#Set up data
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  52.740785  158.742439
1   male  68.790578  194.998270
2   male  62.180414  205.501791
3   male  62.049968  205.693294
4   male  61.397906  149.443772

In [4]:
data.height.mean()

65.90243617948641

In [5]:
data.height.std()

7.331395678400094

In [7]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    65.902436  179.682766
std      7.331396   24.542070
min     51.133601  129.274928
25%     60.637314  162.618669
50%     65.088748  177.191448
75%     70.160533  196.449811
max     94.348258  253.235002

In [10]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  63.394666  4.678209  53.614344  59.804046  63.183564
male    100.0  68.410206  8.570364  51.133601  62.613514  68.966973

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  66.704572  74.110917  100.0  165.921633  15.498126  129.274928
male    72.939988  94.348258  100.0  193.443899  24.247789  133.427854


               25%         50%         75%         max
gender
female  157.042977  167.389381  175.184834  196.669545
male    179.349724  195.696986  211.887075  253.235002

In [11]:
data.gender.value_counts()

female    100
male      100
Name: gender, dtype: int64