In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv('plane_crashes_data.csv')

In [4]:
df.tail()

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
2704,4,6,2009,"Massamba, DemocratiRepubliof Congo",Bako Air,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,7,7,Crashed while en route on a ferrying flight. T...
2705,5,12,2009,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,Patrol,Mi-35,18,18,The helicopter was patrolling along the Venezu...
2706,5,6,2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,Jakarta - Maduin,Lockheed C-130 Hercules,112,98,"While on approach, the military transport cras..."
2707,6,0,2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,228,228,The Airbus went missing over the AtlantiOcean ...
2708,6,8,2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,1,1,The air ambulance crashed into hills while att...

In [5]:
df2 = df[df['year'] >= 1980 ]

In [8]:
df2.mean()

month            6.567733
year          1995.346494
aboard          36.870660
fatalities      24.932607
dtype: float64

In [13]:
df3 = df.groupby('month')

In [18]:
df4 = df[df['fatalities'] == 583]

In [19]:
df4

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
1105,3,17,1977,"Tenerife, Canary Islands",Pan American World Airways / KLM,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,644,583,Both aircraft were diverted to Tenerife becaus...

In [20]:
df5 = df[df['fatalities'] >= 1]

In [32]:
df5.count()

month         2660
hour          2660
year          2660
location      2657
operator      2658
route         2279
type          2659
aboard        2660
fatalities    2660
summary       2647
dtype: int64

In [31]:
df.count()

month         2709
hour          2709
year          2709
location      2706
operator      2707
route         2318
type          2708
aboard        2709
fatalities    2709
summary       2696
dtype: int64

In [23]:
2660/2709

0.9819121447028424

In [35]:
df['fatalities'].sum() / df['aboard'].sum()

0.7207845077244948