In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [ ]:
# Get data
df = pd.read_pickle('../../Data/Mobile/train1.pkl')

In [ ]:
#Check data
df.info()

In [ ]:
# Extract year, month, day and hour

def years(x):
    x = x[0:2]
    return x

def month(x):
    x = x[2:4]
    return x

def day(x):
    x = x[4:6]
    return x

def hour(x):
    x = x[6:8]
    return x

In [ ]:

# Switch the dtype to string for transformation
df['hour'] = df['hour'].astype('str')

# Apply the methods
df['year'] = df['hour'].apply(years)
df['month'] = df['hour'].apply(month)
df['day'] = df['hour'].apply(day)
df['hour1'] = df['hour'].apply(hour)


df.head()

In [8]:
# Drop the old time field (hour) and replace it with just the hour data
df = df.drop('hour',1)
df.rename(columns={'hour1': 'hour'}, inplace=True)

In [9]:
# Switch the datatypes to preserve memory

df['year'] = df['year'].astype(np.uint8)
df['month'] = df['month'].astype(np.uint8)
df['day'] = df['day'].astype(np.uint8)
df['hour'] = df['hour'].astype(np.uint8)

In [10]:
# Check if they are there
df.head()

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,C16,C17,C18,C19,C20,C21,year,month,day,hour
0,1.000009e+18,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,50,1722,0,35,-1,79,14,10,21,0
1,1.000017e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,50,1722,0,35,100084,79,14,10,21,0
2,1.000037e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,50,1722,0,35,100084,79,14,10,21,0
3,1.000064e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,50,1722,0,35,100084,79,14,10,21,0
4,1.000068e+19,0,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,07d7df22,...,50,2161,0,35,-1,157,14,10,21,0

In [11]:
# Equal day counts? Looks like it.
df['day'].value_counts()

22    5337126
28    5287222
30    4218938
21    4122995
23    3870752
26    3835892
29    3832608
25    3363122
24    3335302
27    3225010
Name: day, dtype: int64

In [12]:
# Now use the datetime to check what day of the week each is (Monday, Tuesday, etc.) 
import datetime

def weekday(x):
    x = datetime.date(2014, 10, x).weekday()
    return x

In [13]:
# Apply it
df['weekday'] = df['day'].apply(weekday)

In [14]:
# Makes sense that some are higher because it is data from a 10 day span
df['weekday'].value_counts()

1    9410217
2    9169734
3    8089690
6    3835892
5    3363122
4    3335302
0    3225010
Name: weekday, dtype: int64

In [15]:
# Shrink it
df['weekday'] = df['weekday'].astype(np.uint8)

In [16]:
# Save as pickle!
df.to_pickle('../../Data/Mobile/train.pkl')